<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>Injustice Reform Network</vendor>

  <!-- Authorisation for the IRN Store's root helper. The helper itself only
       accepts packages listed in the shipped catalog, so this action cannot be
       used to install arbitrary software even by someone who passes the prompt. -->
  <action id="org.irn.store.manage-packages">
    <description>Install or remove an app from the IRN Store</description>
    <message>Authentication is required to change installed apps</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/irn-store-install</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
